.ipynb_checkpoints
.DS_Store
__pycache__
/.idea
*.idea
*.xml
**/*.xml
*.iml
*.weights
*.log
/*.log
selenium/

contraseñas.txt
pass_.py
password.txt
password.py

.env
*.hdf5
*.h5
*.parquet



mercadona_data_scraping_fyv.ipynb

frutas.csv
ensaladas.csv
verduras.csv

sub_frutas.csv
sub_ensaladas.csv
sub_verduras.csv

cat_frutas.csv
cat_ensaladas.csv
cat_verduras.csv

mercadona_data_transform_fyv.ipynb

supermercado_rev_eng.mwb

*.sql

ventas_data_random_values.ipynb

